@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}


/* Navbar */
.navbar {
  padding-right: 15px;
  padding-left: 15px;
  padding: 15px 20px;
  box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}
.navbar li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
.navbar h1 {
  font-size: 40px;
}
.links-search {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
input {
  border-radius: 5px;
  outline: none;
  padding: 5px;
}
.logo-group {
  display: flex;
  align-items: center;
  gap: 15px; 
}
.navbar li a:hover {
  text-decoration: underline;
  color: #003B6D;
  cursor: pointer;
}
.navdiv button {
  background-color: #003B6D;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600; 
  font-size: 16px;
  border: 2.5px solid #003B6D; 
}
.navdiv button:hover {
  background-color: transparent;
  color: #003B6D;
  cursor: pointer;
  transition: 0.3s ease;
}
.navbar a:link,
.navbar a:visited {
  color: #676767;  
  text-decoration: none;
}






/* Hero Section */
.hero-container {
  display: flex;
  justify-content: center; 
  min-height: 600px;
  padding: 60px 0;
  background: linear-gradient(to right, #f9fafb, #eef4fb);
}
.hero-content {
  display: flex;
  align-items: center;
  gap: 40px; 
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 75px;
}
.left {
  flex: 1; 
}
.right {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
}
.hero-content h1 {
  font-size: 52px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.sub-heading {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 35px;
}
.btn {
  text-decoration: none;
  background-color: #003B6D;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  border: 2.5px solid #003B6D; 
}
.btn:hover {
  background-color: transparent;
  color: #003B6D;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn2 {
  text-decoration: none;
  background-color: #6699CC;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  border: 2.5px solid #6699CC; 
}
.btn2:hover {
  background-color: transparent;
  color: #6699CC;
  cursor: pointer;
  transition: 0.3s ease;
}
.right img {
  width: 100%;
  max-width: 600px; 
  height: 500px;    
  border-radius: 25px;
}






/* Pet Care Advice Section(HomePage) */
.pet-section {
  padding-top: 200px;
  margin-bottom: 120px;
}
.pet-section h1 {
  padding: 20px;
}
.pet-container img {
  width: 400px;
  height: 400px;
  border-radius: 360px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.pet-container {
  display: flex;
  justify-content: space-around;
}
.pet-titles {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
.pet-container img:hover {
  transform: scale(1.04);
  transition: 0.25s;
}






/* Consultation Form */
.form-section {
  padding-top: 100px;
  padding-bottom: 150px;
}
.form-section h1 {
  text-align: center;
  padding: 50px;

}
.form-container {
  width: 60%;
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  background-color: #f2f2f2;
}
.form-group {
  margin-bottom: 15px; 
}
label {
  display: block; 
  margin-bottom: 5px;
}
.form-container input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input:focus {
  border-color: #6699CC; 
  outline: none;
}
.form-container button {
  background-color: #003B6D;
  color: #fff;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  border: 2.5px solid #003B6D; 
}
.form-container button:hover {
  background-color: transparent;
  color: #003B6D;
  cursor: pointer;
  transition: 0.3s ease;
}
.submit-container {
  padding-top: 10px;
}





/* Footer */
.footer-content {
  background-color: #003B6D;
  color: #BDBDBD;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 30px
}
.footer-content li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
.social-links img {
  width: 24px;
  height: 24px;
}
#footer-logo {
  width: 350px;
}
.footer-content li a:hover {
  text-decoration: underline;
  color: #BDBDBD;
  cursor: pointer;
}
.footer-content a:link,
.footer-content a:visited {
  color: #BDBDBD;  
  text-decoration: none;
}
.social-links {
  justify-content: space-between;
  font-size: 24px;       
}









/* Pet Page Layout */
.pet-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.pet-intro {
  text-align: center;
  margin-bottom: 60px;
}

.pet-intro h1 {
  font-size: 35px;
  color: #003B6D;
  margin-bottom: 20px;
}

.pet-intro p {
  font-size: 18px;
  line-height: 2;
  color: #676767;
}
.pet-intro img {
  width: 250px;
  height: 250px;
  border-radius: 360px;
}

.pet-content {
  margin-bottom: 60px;
}

.pet-content h2 {
  color: #003B6D;
  margin-bottom: 15px;
}
.pet-content p {
  color: #676767;
  line-height: 2;
  margin-bottom: 15px;
}
.pet-content ol {
  display: block;
}

/* CTA */
.pet-cta {
  text-align: center;
  background-color: #6699CC;
  padding: 60px 20px;
  color: white;
}

.pet-cta h2 {
  margin-bottom: 10px;
}

.pet-cta p {
  margin-bottom: 20px;
}